# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv('weather_data_output.csv')

weather_data_df = pd.DataFrame(weather_data)
weather_data_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed (mph),Country,Date
0,0,Novotroitskaya,45.33,41.53,30.00,100,90,11.18,RU,11/22/2020
1,1,Bathsheba,13.22,-59.52,80.60,78,40,14.99,BB,11/22/2020
2,2,Albany,42.60,-73.97,39.00,67,100,1.99,US,11/22/2020
3,3,Saint-Philippe,-21.36,55.77,73.40,73,86,11.41,RE,11/22/2020
4,4,Conceição do Araguaia,-8.26,-49.26,73.20,94,100,1.68,BR,11/22/2020
...,...,...,...,...,...,...,...,...,...,...
555,555,Muros,42.78,-9.06,46.00,93,0,4.79,ES,11/22/2020
556,556,Pontes e Lacerda,-15.23,-59.34,86.76,36,77,3.02,BR,11/22/2020
557,557,Rawson,-43.30,-65.10,71.31,34,0,18.21,AR,11/22/2020
558,558,Sabha,27.04,14.43,62.37,31,45,12.66,LY,11/22/2020
559,559,Moindou,-21.69,165.68,80.60,61,75,12.75,NC,11/22/2020

In [3]:
del weather_data_df['Unnamed: 0']
weather_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed (mph),Country,Date
0,Novotroitskaya,45.33,41.53,30.00,100,90,11.18,RU,11/22/2020
1,Bathsheba,13.22,-59.52,80.60,78,40,14.99,BB,11/22/2020
2,Albany,42.60,-73.97,39.00,67,100,1.99,US,11/22/2020
3,Saint-Philippe,-21.36,55.77,73.40,73,86,11.41,RE,11/22/2020
4,Conceição do Araguaia,-8.26,-49.26,73.20,94,100,1.68,BR,11/22/2020
...,...,...,...,...,...,...,...,...,...
555,Muros,42.78,-9.06,46.00,93,0,4.79,ES,11/22/2020
556,Pontes e Lacerda,-15.23,-59.34,86.76,36,77,3.02,BR,11/22/2020
557,Rawson,-43.30,-65.10,71.31,34,0,18.21,AR,11/22/2020
558,Sabha,27.04,14.43,62.37,31,45,12.66,LY,11/22/2020
559,Moindou,-21.69,165.68,80.60,61,75,12.75,NC,11/22/2020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key) 

# Store latitude and longitude in locations, and humidity as humidity
locations = weather_data_df[["Lat", "Lng"]]
humidity = weather_data_df["Humidity"]

In [5]:
fig = gmaps.figure(map_type="TERRAIN")
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the DataFrame to fit my ideal type of weather condition. My criteria is as follow:
# A max temperature lower or equal to 90 degrees and higher than 55 degrees.
# Wind speed is equal of less than 15 mph.
# humidity = 50
# cloudiness = 0
# created a new data frame that has these for criterias 


my_conditions_df = weather_data_df.loc[(weather_data_df["Wind Speed (mph)"] <= 10) & (weather_data_df["Cloudiness"] == 0) & \
                                   (weather_data_df["Max Temp"] >= 55) & (weather_data_df["Max Temp"] <= 90)].dropna()

my_conditions_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed (mph),Country,Date
14,Kwinana,-32.25,115.77,72.00,49,0,5.82,AU,11/22/2020
44,Iranshahr,27.20,60.68,61.66,76,0,5.59,IR,11/22/2020
53,Arrecife,28.96,-13.55,71.60,56,0,5.82,ES,11/22/2020
77,Abu Dhabi,24.47,54.37,75.20,50,0,3.36,AE,11/22/2020
81,Kenda,23.20,86.53,59.54,44,0,6.20,IN,11/22/2020
98,Kiryat Gat,31.61,34.76,63.00,100,0,1.99,IL,11/22/2020
117,Chake Chake,-5.25,39.77,78.08,84,0,6.26,TZ,11/22/2020
141,Faya,18.39,42.45,57.20,20,0,5.82,SA,11/22/2020
145,Busselton,-33.65,115.33,64.99,67,0,7.16,AU,11/22/2020
191,Rocha,-34.48,-54.33,58.77,83,0,7.81,UY,11/22/2020
193,Mar del Plata,-38.00,-57.56,75.20,64,0,9.17,AR,11/22/2020
217,Domoni,-12.26,44.53,77.86,81,0,4.74,KM,11/22/2020
226,San Martín,-33.08,-68.47,89.60,27,0,5.82,AR,11/22/2020
241,Rio Grande,-32.03,-52.10,66.00,72,0,8.05,BR,11/22/2020
243,Chui,-33.70,-53.46,60.48,79,0,8.48,UY,11/22/2020
244,Saldanha,-33.01,17.94,59.00,82,0,5.82,ZA,11/22/2020
252,Vila do Maio,15.13,-23.22,78.80,74,0,9.17,CV,11/22/2020
259,Det Udom,14.91,105.08,73.40,88,0,6.93,TH,11/22/2020
269,Ambāgarh Chauki,20.78,80.72,56.53,61,0,5.53,IN,11/22/2020
270,Sur,22.57,59.53,72.68,51,0,7.49,OM,11/22/2020
306,Morro Bay,35.37,-120.85,69.01,78,0,4.00,US,11/22/2020
307,Porbandar,21.64,69.61,71.62,48,0,9.01,IN,11/22/2020
313,Vredendal,-31.67,18.50,57.43,89,0,7.54,ZA,11/22/2020
318,Bhavnagar,21.77,72.15,73.08,44,0,9.13,IN,11/22/2020
338,Ormara,25.21,64.64,69.80,62,0,5.55,PK,11/22/2020
358,Baghdad,33.34,44.40,55.40,71,0,5.82,IQ,11/22/2020
371,Tura,25.52,90.22,57.54,53,0,4.21,IN,11/22/2020
372,Santa Vitória do Palmar,-33.52,-53.37,61.23,77,0,8.77,BR,11/22/2020
378,Salalah,17.02,54.09,78.80,69,0,3.36,OM,11/22/2020
394,Nelson Bay,-32.72,152.15,77.00,73,0,8.05,AU,11/22/2020
414,Bondoukou,8.03,-2.80,76.55,66,0,2.82,CI,11/22/2020
417,Bilma,18.69,12.92,62.46,31,0,1.95,NE,11/22/2020
419,Gharo,24.74,67.59,59.00,82,0,7.99,PK,11/22/2020
433,Luxor,25.70,32.64,55.06,48,0,3.65,EG,11/22/2020
446,Maceió,-9.67,-35.74,75.20,94,0,5.82,BR,11/22/2020
454,Hervey Bay,-25.30,152.85,82.99,54,0,5.82,AU,11/22/2020
457,Bawku,11.06,-0.24,76.95,24,0,6.82,GH,11/22/2020
474,Calvinia,-31.47,19.78,55.96,68,0,4.61,ZA,11/22/2020
497,Karema,-6.82,30.44,71.92,81,0,3.18,TZ,11/22/2020
501,Chhabra,24.67,76.83,55.58,39,0,6.51,IN,11/22/2020
504,Mauganj,24.68,81.88,55.49,40,0,3.04,IN,11/22/2020
511,Bella Union,-30.28,-57.60,71.64,50,0,9.84,UY,11/22/2020
515,Buraidah,26.33,43.98,57.20,58,0,6.93,SA,11/22/2020

In [7]:
len(my_conditions_df)

43

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
#create a new DataFrame for hotel
hotel_df = my_conditions_df.loc[:,["City","Country", "Lat", "Lng"]]

hotel_df["Hotel Name"] = ""

# Display the result
hotel_df.head()

         City Country    Lat     Lng Hotel Name
14    Kwinana      AU -32.25  115.77
44  Iranshahr      IR  27.20   60.68
53   Arrecife      ES  28.96  -13.55
77  Abu Dhabi      AE  24.47   54.37
81      Kenda      IN  23.20   86.53

In [9]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [10]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("No hotel found")
        
    print("------------")

Retrieving Results for Index 14: Kwinana.
Closest hotel in Kwinana is Hotel Clipper.
------------
Retrieving Results for Index 44: Iranshahr.
Closest hotel in Iranshahr is مهمانسرای طاها ایرانشهر.
------------
Retrieving Results for Index 53: Arrecife.
Closest hotel in Arrecife is Occidental Lanzarote Playa.
------------
Retrieving Results for Index 77: Abu Dhabi.
Closest hotel in Abu Dhabi is Royal M Hotel & Resort Abu Dhabi.
------------
Retrieving Results for Index 81: Kenda.
No hotel found
------------
Retrieving Results for Index 98: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 117: Chake Chake.
Closest hotel in Chake Chake is Hotel Archipelago.
------------
Retrieving Results for Index 141: Faya.
No hotel found
------------
Retrieving Results for Index 145: Busselton.
Closest hotel in Busselton is Abbey Beach Resort.
------------
Retrieving Results for Index 191: Rocha.
Closest hotel in Rocha is Casa Rodo 53.
------------
Retrieving Results for Index 193: Mar del Plata.
Closest hotel in Mar del Plata is Hotel Sennac.
------------
Retrieving Results for Index 217: Domoni.
Closest hotel in Domoni is Al Djadid.
------------
Retrieving Results for Index 226: San Martín.
Closest hotel in San Martín is Molino la Tebaida.
------------
Retrieving Results for Index 241: Rio Grande.
Closest hotel in Rio Grande is Laghetto Viverone Rio Grande.
------------
Retrieving Results for Index 243: Chui.
Closest hotel in Chui is Turis Firper Hotel.
------------
Retrieving Results for Index 244: Saldanha.
Closest hotel in Saldanha is Hoedjiesbaai Hotel.
------------
Retrieving Results for Index 252: Vila do Maio.
Closest hotel in Vila do Maio is Big Game Maio.
------------
Retrieving Results for Index 259: Det Udom.
Closest hotel in Det Udom is ทรัพย์ไพบูลย์รีสอร์ท.
------------
Retrieving Results for Index 269: Ambāgarh Chauki.
Closest hotel in Ambāgarh Chauki is Yadav Hotel.
------------
Retrieving Results for Index 270: Sur.
Closest hotel in Sur is Sur Plaza Hotel.
------------
Retrieving Results for Index 306: Morro Bay.
Closest hotel in Morro Bay is Morro Bay Beach Inn.
------------
Retrieving Results for Index 307: Porbandar.
Closest hotel in Porbandar is Lords Inn Porbandar.
------------
Retrieving Results for Index 313: Vredendal.
Closest hotel in Vredendal is River Lodge.
------------
Retrieving Results for Index 318: Bhavnagar.
Closest hotel in Bhavnagar is Efcee Sarovar Portico ,Bhavnagar.
------------
Retrieving Results for Index 338: Ormara.
Closest hotel in Ormara is Ormara Beach Resorts/ Bolan Safari.
------------
Retrieving Results for Index 358: Baghdad.
Closest hotel in Baghdad is Andalus Hotel suites.
------------
Retrieving Results for Index 371: Tura.
Closest hotel in Tura is Dongrama Home Stay, Tura Meghalaya.
------------
Retrieving Results for Index 372: Santa Vitória do Palmar.
Closest hotel in Santa Vitória do Palmar is Mirante Hotel.
------------
Retrieving Results for Index 378: Salalah.
Closest hotel in Salalah is Al Dyafa Hotel Suites.
------------
Retrieving Results for Index 394: Nelson Bay.
Closest hotel in Nelson Bay is Hotel Nelson.
------------
Retrieving Results for Index 414: Bondoukou.
Closest hotel in Bondoukou is HÔTEL MORONOU.
------------
Retrieving Results for Index 417: Bilma.
No hotel found
------------
Retrieving Results for Index 419: Gharo.
Closest hotel in Gharo is Al Habib Restaurant , Gharo.
------------
Retrieving Results for Index 433: Luxor.
Closest hotel in Luxor is Hilton Luxor Resort & Spa.
------------
Retrieving Results for Index 446: Maceió.
Closest hotel in Maceió is Jatiúca Hotel & Resort.
------------
Retrieving Results for Index 454: Hervey Bay.
Closest hotel in Hervey Bay is Kondari Hotel.
------------
Retrieving Results for Index 457: Bawku.
Closest hotel in Bawku is Ultimate Guesthouse.
------------
Retrieving Results for Index 474: Calvinia.
Closest hotel in Calvinia is Calvinia Hotel by Country Hotels.
------------
Retrieving Results for Index 497: Karema.
No hotel found
------------
Retrieving Results for Index 501: Chhabra.
Closest hotel in Chhabra is Hillview Hotel & Resorts.
------------
Retrieving Results for Index 504: Mauganj.
Closest hotel in Mauganj is Hotel Ganga Vatika Lodge.
------------
Retrieving Results for Index 511: Bella Union.
Closest hotel in Bella Union is Hotel Tres Fronteras~Monte Caseros.
------------
Retrieving Results for Index 515: Buraidah.
Closest hotel in Buraidah is فندق تاورز HOTELTOWERS.
------------

In [11]:
hotel_df.head()

         City Country    Lat     Lng                        Hotel Name
14    Kwinana      AU -32.25  115.77                     Hotel Clipper
44  Iranshahr      IR  27.20   60.68           مهمانسرای طاها ایرانشهر
53   Arrecife      ES  28.96  -13.55        Occidental Lanzarote Playa
77  Abu Dhabi      AE  24.47   54.37  Royal M Hotel & Resort Abu Dhabi
81      Kenda      IN  23.20   86.53

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))